/* styles.css */

.salary-calculator {
  width: 680px;
  height: 616px;
  top: 142px;
  left: 128px;
  gap: 0px;
  opacity: 0px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #e0e0e0;
}
.salary-calculator-title {
  width: 209px;
  height: 32px;
  top: 166px;
  left: 152px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.022px;
  text-align: left;
}
.body-large-semibold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: left;
}
.body-small {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.button-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.basic-salary-form {
  /* display: flex; */
  width: Hug (356px) px;
  height: Hug (80px) px;
  top: 222px;
  left: 152px;
  gap: 8px;
  opacity: 0px;
}
.basic-salary-lable {
  width: 94px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.basic-salary-input {
  width: Fixed (356px) px;
  height: Hug (48px) px;
  padding: 12px 15px 12px 15px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

.earning-form {
  width: Hug (248px) px;
  height: Hug (48px) px;
  top: 326px;
  left: 152px;
  gap: 4px;
  opacity: 0px;
}

.body-small {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}

.earning-title {
  width: 68px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  text-align: right;
  color: #000000;
}
.earning-desc {
  width: 248px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  color: #757575;
}

.Add-allowance-button {
  width: 162px;
  height: 40px;
  top: 486px;
  left: 152px;
  gap: 10px;
  opacity: 0px;
  width: Hug (162px) px;
  height: Hug (40px) px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.deduction-form {
  width: Hug (238px) px;
  height: Hug (48px) px;
  top: 582px;
  left: 152px;
  gap: 4px;
  opacity: 0px;
}

.deducation-title {
  width: 88px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
}

.deducation-desc {
  width: 238px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
.deduction-button-form {
  width: Hug (162px) px;
  height: Hug (40px) px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.deduction-button-frame {
  width: Hug (162px) px;
  height: Hug (24px) px;
  gap: 4px;
  opacity: 0px;
}
.deducation-button {
  width: 134px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
